.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #000000;

  &__part-web {
    color: $accent-color;
  }
}

.footer__logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: $main-footer-text-color;
  margin-bottom: 20px;
}
