.social__list {
  display: flex;
  align-items: center;
}

.social__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-social-link;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color $anim-duration $anim-timing-function,
    color $anim-duration $anim-timing-function;

  &:focus,
  &:hover {
    color: $color-white;
    background-color: $accent-color;
  }
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer__social-list {
  align-items: baseline;
}

.footer__social-link {
  background: rgba(255, 255, 255, 0.1);
  color: $color-white;
}
